/* page 2 */
.two_page{
    background-color: #a4abeb;
}

.me{
    margin-top : 130px;
    margin-left: 100px;
    border-radius: 30%;
}

.intext {
    float: right;
    margin-top: 200px;
    margin-right: 200px;
    padding-left: 50px;
}
